*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #262525;
}
html {
  scroll-behavior: smooth !important;
}
h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.2;
  font-family: "Montserrat-Regular.ttf";
}
b {
  font-family: "Montserrat-Bold.ttf";
}
h1,
.h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1,
  .h1 {
    font-size: 2.5rem;
  }
}

h2,
.h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2,
  .h2 {
    font-size: 2rem;
  }
}

h3,
.h3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  h3,
  .h3 {
    font-size: 1.75rem;
  }
}

h4,
.h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4,
  .h4 {
    font-size: 1.5rem;
  }
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: "Montserrat-Regular.ttf";
}
a {
  font-family: "Montserrat-Regular.ttf";
  text-decoration: none;
}
.btn:focus {
  outline: 0;
  box-shadow: none;
}
@font-face {
  font-family: "Montserrat-Regular.ttf";
  src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "Montserrat-Bold.ttf";
  src: url(../fonts/Montserrat-Bold.ttf);
}
.header {
  padding-top: 100px;
  padding-bottom: 20px;
  border-bottom: 3px solid #f0cf99;
  position: relative;
}
.header .mbl-logo {
  display: none;
}
.header .mbl-logo img {
  width: 135px;
}
.header .web-logo {
  display: block;
  position: absolute;
  right: 50%;
  bottom: 0%;
  transform: translate(50px, 40px);
}
.header .web-logo img {
  width: 210px;
}
.header .que {
  margin-right: 10px;
  border: 3px solid transparent;
  border-radius: 10px;
  background: linear-gradient(to right, #262525, #262525),
    linear-gradient(to right, #f0cf99, #e5e5e5);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  border-bottom-right-radius: 0px;
  display: inline-block;
}
.header .que:hover {
  background: linear-gradient(to right, #262525, #262525),
    linear-gradient(to right, #e5e5e5, #d1b488);
  border: 3px solid transparent;
  border-radius: 10px;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  border-bottom-right-radius: 0px;
  box-shadow: 0px 0px 7px 0px #e1c390;
}
.header .que:hover a {
  transition: 1s ease-in-out;
  background-color: #f0cf9924;
  color: #e8decf;
}
.header .que a {
  color: #f0cf99;
  background: none;
  font-size: 20px;
}
.header .quote-btn {
  justify-content: end;
}
.consultation-section {
  background: linear-gradient(
      152.31deg,
      rgba(45, 41, 41, 0.8) 59.49%,
      rgba(255, 255, 255, 0.024) 196.77%
    ),
    url(../img/leave-background.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 80px 0px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  position: relative;
}
.consultation-section h1 {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #f0cf99;
}
.consultation-section p {
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  color: white;
  margin-top: 55px;
}
.consultation-section p .deserve {
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  color: #f0cf99;
}
.consultation-section .free {
  border: 3px solid #f0cf99;
  border-radius: 15px;
  border-bottom-right-radius: 0px;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  color: #e9dbc5;
  padding: 7px 10px;
  margin-top: 70px;
  display: inline-block;
  transition: 0.5s ease-in-out;
}
.consultation-section .free:hover {
  border: 3px solid #f0cf99;
  border-radius: 15px;
  border-bottom-right-radius: 0px;
  box-shadow: 0px 0px 7px 0px #e1c390;
  font-size: 33px;
}
.premium-services {
  overflow-x: hidden;
  padding-top: 35px;
  background: linear-gradient(
    152.31deg,
    rgb(36 36 36 / 80%) 59.49%,
    rgba(255, 255, 255, 0.46) 196.77%
  );
  padding-bottom: 20px;
}
.premium-services h1 {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #f0cf99;
}
.premium-services p {
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  color: white;
}
.premium-services p .clr {
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  color: #f0cf99;
}
.premium-services img {
  width: 95%;
}
.premium-services .service-content p {
  border: 3px solid transparent;
  border-radius: 15px;
  background: linear-gradient(to right, #262525, #262525),
    linear-gradient(to right, #f0cf99, #e5e5e5);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  border-bottom-right-radius: 0px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #f0cf99;
  padding: 40px 10px;
  text-align: center;
}
.satisfaction .guaranted {
  text-align: center;
}
.satisfaction .guaranted h1 {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #f0cf99;
  padding: 40px 0px;
}
.logos-section {
  background-color: #453f3f;
}
.logos-section .img {
  text-align: center;
  padding: 25px 0px;
  transition: 1s ease-in-out;
}
.logos-section .img img {
  cursor: pointer;
  max-width: 120px;
  max-height: 120px;
}
.schedule-consult {
  padding: 70px 0px;
  background: linear-gradient(
    152.31deg,
    rgb(60 59 59 / 80%) 59.49%,
    rgb(255 255 255 / 46%) 196.77%
  );
}
.schedule-consult p {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  margin-bottom: 40px;
}
.schedule-consult a {
  border: 3px solid transparent;
  border-radius: 15px;
  background: linear-gradient(to right, #262525, #262525),
    linear-gradient(to right, #f0cf99, #e5e5e5);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  border-bottom-right-radius: 0px;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  color: #e9dbc5;
  padding: 7px 10px;
  display: inline-block;
  transition: 0.5s ease-in-out;
}
.schedule-consult a:hover {
  background: linear-gradient(to right, #262525, #262525),
    linear-gradient(to right, #e5e5e5, #d1b488);
  border: 3px solid transparent;
  border-radius: 15px;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  border-bottom-right-radius: 0px;
  box-shadow: 0px 0px 7px 0px #e1c390;
  font-size: 33px;
}
.services-offered {
  overflow-x: hidden;
  padding-bottom: 60px;
  background: linear-gradient(
    152.31deg,
    rgb(36 36 36 / 80%) 59.49%,
    rgba(255, 255, 255, 0.46) 196.77%
  );
}
.services-offered h1 {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #f0cf99;
  padding: 40px 0px;
}
.services-offered .text-end .points {
  border: 3px solid transparent;
  border-radius: 15px;
  background: linear-gradient(to right, #262525, #262525),
    linear-gradient(to right, #f0cf99, #e5e5e5);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  border-bottom-right-radius: 0px;
  padding: 20px 20px;
  display: inline-block;
  margin-bottom: 40px;
  width: 85%;
}
.services-offered .points {
  border: 3px solid transparent;
  border-radius: 15px;
  background: linear-gradient(to right, #262525, #262525),
    linear-gradient(to right, #f0cf99, #e5e5e5);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  border-bottom-left-radius: 0px;
  padding: 20px 20px;
  display: inline-block;
  margin-bottom: 40px;
  width: 85%;
}
.services-offered .points img {
  margin-right: 50px;
  transition: 1s ease-in-out;
  max-width: 50px;
  max-height: 50px;
}
.services-offered .points:hover img {
  transform: rotate(15deg);
}
.services-offered .points h3 {
  font-size: 30px;
  line-height: 37px;
  color: #e9dbc5;
  margin: 0px;
  font-family: "Montserrat-Bold.ttf";
}
.services-offered p {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  margin-bottom: 30px;
  margin-top: 20px;
}
.services-offered a {
  border: 3px solid transparent;
  border-radius: 15px;
  background: linear-gradient(to right, #262525, #262525),
    linear-gradient(to right, #f0cf99, #e5e5e5);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  border-bottom-right-radius: 0px;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  color: #e9dbc5;
  padding: 7px 10px;
  display: inline-block;
  transition: 0.5s ease-in-out;
}
.services-offered a:hover {
  background: linear-gradient(to right, #262525, #262525),
    linear-gradient(to right, #e5e5e5, #d1b488);
  border: 3px solid transparent;
  border-radius: 15px;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  border-bottom-right-radius: 0px;
  box-shadow: 0px 0px 7px 0px #e1c390;
  font-size: 33px;
}
.guarantees {
  padding-bottom: 60px;
  background: linear-gradient(
    152.31deg,
    rgb(36 36 36 / 80%) 59.49%,
    rgba(255, 255, 255, 0.46) 196.77%
  );
}
.guarantees h1 {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #f0cf99;
  padding: 40px 0px;
}
.guarantees .guarantees-content .guarantee {
  border: 3px solid transparent;
  border-radius: 15px;
  background: linear-gradient(to right, #262525, #262525),
    linear-gradient(to right, #f0cf99, #e5e5e5);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  border-bottom-right-radius: 0px;
  padding: 20px 20px;
  text-align: center;
  margin-bottom: 40px;
}
.guarantees .guarantees-content .guarantee h4 {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  margin-bottom: 35px;
  background: linear-gradient(180deg, #f0cf99 0%, #e5e5e5 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-family: "Montserrat-Bold.ttf";
}
.guarantees .guarantees-content .guarantee p {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: white;
}
.guarantees p {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  margin-bottom: 30px;
}
.guarantees a {
  border: 3px solid transparent;
  border-radius: 15px;
  background: linear-gradient(to right, #262525, #262525),
    linear-gradient(to right, #f0cf99, #e5e5e5);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  border-bottom-right-radius: 0px;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  color: #e9dbc5;
  padding: 7px 10px;
  display: inline-block;
  transition: 0.5s ease-in-out;
}
.guarantees a:hover {
  background: linear-gradient(to right, #262525, #262525),
    linear-gradient(to right, #e5e5e5, #d1b488);
  border: 3px solid transparent;
  border-radius: 15px;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  border-bottom-right-radius: 0px;
  box-shadow: 0px 0px 7px 0px #e1c390;
  font-size: 33px;
}
.contact-section {
  background: linear-gradient(
      152.31deg,
      rgba(45, 41, 41, 0.8) 59.49%,
      rgba(255, 255, 255, 0.024) 196.77%
    ),
    url(../img/leave-background.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 70px 0px;
  display: flex;
  align-items: center;
  height: 500px;
}
.contact-section h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 150.9%;
  color: #f0cf99;
}
.contact-form {
  padding: 40px 0px;
  overflow-x: hidden;
}
.contact-form .heading h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #ecd7b5;
  margin-bottom: 0px;
}
.contact-form .heading p {
  font-weight: 700;
  font-size: 16px;
  line-height: 31px;
  color: #ecd7b5;
}
.contact-form .form-detail p {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ecd7b5;
  margin-bottom: 0;
}
.contact-form .form-detail .form-control {
  color: #ecd7b5;
  background-color: #262525;
  border: 2px solid #f0cf99;
  border-radius: 10px;
  border-bottom-right-radius: 0px;
}
.contact-form .form-detail .form-control:focus {
  box-shadow: 0 0 0 0.19rem rgb(240 207 153 / 23%);
}
.free-consult {
  margin-right: 10px;
  border: 2px solid transparent;
  border-radius: 10px;
  background: linear-gradient(to right, #262525, #262525),
    linear-gradient(to right, #f0cf99, #e5e5e5);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  border-bottom-right-radius: 0px;
  display: inline-block;
  margin-top: 40px;
  transition: 0.5s ease-in-out;
}
.free-consult:hover {
  background: linear-gradient(to right, #262525, #262525),
    linear-gradient(to right, #e5e5e5, #d1b488);
  border: 3px solid transparent;
  border-radius: 10px;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  border-bottom-right-radius: 0px;
  box-shadow: 0px 0px 7px 0px #e1c390;
}
.free-consult:hover button {
  font-size: 28px;
}
.free-consult button {
  color: #e9dbc5;
  background: none;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  padding: 17px;
  transition: 0.5s ease-in-out;
  outline: none;
  border: none;
  font-family: "Montserrat-Regular.ttf";
}
.free-consult:hover a {
  font-size: 28px;
}
.free-consult a {
  color: #e9dbc5;
  background: none;
  font-weight: 700;
  font-size: 25px;
  line-height: 55px;
  padding: 17px;
  transition: 0.5s ease-in-out;
  font-family: "Montserrat-Regular.ttf";
}
.consultant-desc {
  padding: 50px 0px;
}
.consultant-desc .heading {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: #f0cf99;
  margin-bottom: 35px;
}
.consultant-desc .description {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: white;
}
.modal-body {
  background-color: #262525;
  box-shadow: 0px 0px 24px 10px #000000bd;
}

section {
  display: flex;
  flex-flow: column;
  align-items: center;
}
section div.container {
  transition: all 0.3s ease;
}
section div.container h1 {
  margin: 15px 0 0 0;
}
section div.container h3 {
  margin: 0 0 25px 0;
}
@media (max-width: 992px) {
  .contact-section {
    overflow: hidden;
  }
  section {
    padding: 0 20px 0 20px;
  }
}
section.slide-option .no-marg {
  margin: 0 0 0 0;
}
div.highway-slider {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 150px;
}
div.highway-slider div.highway-barrier {
  overflow: hidden;
  position: relative;
}
div.highway-slider ul.highway-lane {
  display: flex;
  height: 100%;
}
div.highway-slider ul.highway-lane li.highway-car {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
@-webkit-keyframes translatestf {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-500%);
  }
}
@keyframes translatestf {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-500%);
  }
}
#stffull div.highway-barrier ul.highway-lane {
  width: 500%;
}
#stffull div.highway-barrier ul.highway-lane li.highway-car {
  -webkit-animation: translatestf 30s linear infinite;
  animation: translatestf 30s linear infinite;
}
#stffull div.highway-barrier ul.highway-lane li.highway-car h4 {
  font-size: 28px;
}
@-webkit-keyframes translateinfinite {
  100% {
    transform: translateX(calc(-180px * 12));
  }
}
@keyframes translateinfinite {
  100% {
    transform: translateX(calc(-180px * 12));
  }
}
#infinite div.highway-barrier {
}
#infinite div.highway-barrier::before,
#infinite div.highway-barrier::after {
  content: " ";
  position: absolute;
  z-index: 9;
  width: 180px;
  height: 100%;
}
#infinite div.highway-barrier::before {
  top: 0;
  left: 0;
}
#infinite div.highway-barrier::after {
  top: 0;
  right: 0;
}
#infinite div.highway-barrier ul.highway-lane {
  width: calc(180px * 22);
}
#infinite div.highway-barrier ul.highway-lane li.highway-car {
  width: 180px;
  -webkit-animation: translateinfinite 30s linear infinite;
  animation: translateinfinite 30s linear infinite;
}
#infinite div.highway-barrier ul.highway-lane li.highway-car span.fab {
  font-size: 65px;
}
.our-partners {
  overflow-x: hidden;
  padding-bottom: 25px;
  background: linear-gradient(
    152.31deg,
    rgb(36 36 36 / 80%) 59.49%,
    rgba(255, 255, 255, 0.46) 196.77%
  );
}
.our-partners h1 {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #f0cf99;
  padding-top: 40px;
  padding-bottom: 25px;
}
.our-partners a .digimark-logo {
  width: 300px;
}
.our-partners .social-icons {
  margin-top: 10px;
}
.our-partners .social-icons a {
  margin: 2px;
}

.sidebar a {
  text-decoration: none;
  vertical-align: middle;
  text-align: center;
  line-height: 3;
  margin-left: 10px;
}

.sidebar {
  height: auto;
  width: 0px;
  position: absolute;
  top: 45%;
  right: 0;
  transform: translate(0px, 0px);
  z-index: 99;
}

.sidebar .social {
  margin-left: -37px;
  width: 230px;
  padding: 0;
  display: inline-table;
  height: 0px;
  background-color: rgba(128, 128, 128, 0.73);
  -moz-transition-property: margin-left;
  -moz-transition-duration: 0.2s;
  -moz-transition-delay: 0.2s;
  -ms-transition-property: margin-left;
  -ms-transition-duration: 0.2s;
  -ms-transition-delay: 0.2s;
  -o-transition-property: margin-left;
  -o-transition-duration: 0.2s;
  -o-transition-delay: 0.2s;
  -webkit-transition-property: margin-left;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-delay: 0.2s;
  box-shadow: 0px 0px 6px 0px #3e3d3d;
  cursor: pointer;
  position: relative;
}
.sidebar .social .arrow {
  margin: 3px;
}
.sidebar .social .arrow .right {
  display: none;
}
.sidebar .social:hover {
  margin-left: -147px;
  width: 157px;
}
.sidebar .social:hover .arrow .left {
  display: none;
}
.sidebar .social:hover .arrow .right {
  display: block;
}
.sidebar .icons {
  background: linear-gradient(89.36deg, #f1d2a1 0.41%, #fdf7ef 97.14%);
  border-radius: 21.5px 0px 0px 21.5px;
  padding: 11px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 40px;
}
.social.icons a img {
  width: 23px;
}
.social-icons a img {
  width: 25px;
}

.partner-logo {
  background: linear-gradient(
    95.4deg,
    rgba(255, 255, 255, 0.6) 42.97%,
    rgba(240, 207, 153, 0.24) 100.97%
  );
  border-radius: 15px 15px 0px 15px;
  max-width: 550px;
  margin: 0 auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: relative;
}
.partner-logo::before {
  border-radius: 15px 15px 0px 15px;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(93, 86, 73);
  background: linear-gradient(
    302deg,
    rgba(93, 86, 73, 0.773546918767507) 44%,
    rgba(0, 0, 0, 0.6699054621848739) 100%
  );
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
}
.partner-logo:hover::before {
  opacity: 1;
}
.partner-logo:hover {
  /* background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(
    to right,
    #25aae1,
    #40e495,
    #30dd8a,
    #2bb673
  ); */
  cursor: pointer;
}
